<!doctype html>
<html lang="en">
  <head>
    <meta charset='utf-8'>
  </head>
  <body style="background-color: gainsboro !important; font-family: 'Raleway', sans-serif !important; height: 100%; padding-top: 75px; display: flex; min-height: 100vh; flex-direction: column;">
    <div >
      <header style="height: 75px; position: fixed; background-color: black; right: 0; top: 0; left: 0;">
        <img src="{{ uio_file }}" alt="uio" style="padding: 10px; max-width: 50px; max-height: 50px; border-radius: 20%;"/>
        <a href="/CO2_by_country">
          <button style="color: white; border:0; text-align: center !important; float: right; padding-right: 50px; background-color: black; padding-top: 27px !important; padding: 15px; display: inline-block; font-size: 14pt; font-weight: bold;">
            CO<sub>2</sub> per capita plot
          </button>
        </a>
        <a href="/temperature">
          <button style="color: white; border:0; text-align: center !important; float: right; padding-right: 50px; background-color: black; padding-top: 27px !important; padding: 15px; display: inline-block; font-size: 14pt; font-weight: bold;">
            Temperature plot
          </button>
        </a>
        <a href="/">
          <button style="color: white; border:0; text-align: center !important; float: right; padding-right: 50px; background-color: black; padding-top: 27px !important; padding: 15px; display: inline-block; font-size: 14pt; font-weight: bold;">
            CO<sub>2</sub> plot
          </button>
        </a>
        <a href="/help">
          <button style="color: white; border:0; text-align: center !important; float: right; padding-right: 50px; background-color: black; padding-top: 27px !important; padding: 15px; display: inline-block; font-size: 14pt; font-weight: bold;">
            Help
          </button>
        </a>
      </header>
      <h1> Temperature plot for the given year and month </h1>
      <img src="{{ temperature_file }}" alt="Temperature" style="display: block; margin-left: auto; margin-right: auto; width: 40%;"> 

      <form action="/temperature_changed" method="POST">

          <h2>Change parameters</h2>
          Time to plot from:
          <select id="year-from" name="time_from"></select>
          <select id="year-to" name="time_to"></select>

          <script>
            var year_from = 1816;
            var year_to = 2012;
            var options = "";
            for(var y=year_from; y<=year_to; y++){
              options += "<option value=" + y + ">"+ y +"</option>";
            }
            document.getElementById("year-from").innerHTML = options;

            var options2 = "";
            for(var y=year_to; y>=year_from; y--){
              options2 += "<option value=" + y + ">"+ y +"</option>";
            }
            document.getElementById("year-to").innerHTML = options2;
          </script>
          <br>

          Y-axis range for temperature graph:
          <input type="number" name="y_min_temperature" value="-6">
          <input type="number" name="y_max_temperature" value="5">
          <br>

          Month to plot temperature from:
          <select name="month">
            <option value="January"> January </option>
            <option value="February"> February </option>
            <option value="March"> March </option>
            <option value="April"> April </option>
            <option value="May"> May </option>
            <option value="June"> June </option>
            <option value="July"> July </option>
            <option value="August"> August </option>
            <option value="October"> October </option>
            <option value="November"> November </option>
            <option value="December"> December </option>
          </select>
          <br>
          <br>
          (<strong>Note</strong> that there might not be values for some months based on which year. Or the value is not within the values for y-axis)
          <br>

          <input type="submit" value="Update graphs" style="margin-top:10px; font-size:24pt; width:200px; height:400px;">
          <br>
          <br>
        </div>
    </div>
    </form>
  <body>
</html>