<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html><head><title>Python: package flask</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head><body bgcolor="#f0f0f8">

<table width="100%" cellspacing=0 cellpadding=2 border=0 summary="heading">
<tr bgcolor="#7799ee">
<td valign=bottom>&nbsp;<br>
<font color="#ffffff" face="helvetica, arial">&nbsp;<br><big><big><strong>flask</strong></big></big> (version 1.0.2)</font></td
><td align=right valign=bottom
><font color="#ffffff" face="helvetica, arial"><a href=".">index</a><br><a href="file:/anaconda3/lib/python3.7/site-packages/flask/__init__.py">/anaconda3/lib/python3.7/site-packages/flask/__init__.py</a></font></td></tr></table>
    <p><tt>flask<br>
~~~~~<br>
&nbsp;<br>
A&nbsp;microframework&nbsp;based&nbsp;on&nbsp;Werkzeug.&nbsp;&nbsp;It's&nbsp;extensively&nbsp;documented<br>
and&nbsp;follows&nbsp;best&nbsp;practice&nbsp;patterns.<br>
&nbsp;<br>
:copyright:&nbsp;©&nbsp;2010&nbsp;by&nbsp;the&nbsp;Pallets&nbsp;team.<br>
:license:&nbsp;BSD,&nbsp;see&nbsp;LICENSE&nbsp;for&nbsp;more&nbsp;details.</tt></p>
<p>
<table width="100%" cellspacing=0 cellpadding=2 border=0 summary="section">
<tr bgcolor="#aa55cc">
<td colspan=3 valign=bottom>&nbsp;<br>
<font color="#ffffff" face="helvetica, arial"><big><strong>Package Contents</strong></big></font></td></tr>
    
<tr><td bgcolor="#aa55cc"><tt>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</tt></td><td>&nbsp;</td>
<td width="100%"><table width="100%" summary="list"><tr><td width="25%" valign=top><a href="flask.__main__.html">__main__</a><br>
<a href="flask._compat.html">_compat</a><br>
<a href="flask.app.html">app</a><br>
<a href="flask.blueprints.html">blueprints</a><br>
<a href="flask.cli.html">cli</a><br>
</td><td width="25%" valign=top><a href="flask.config.html">config</a><br>
<a href="flask.ctx.html">ctx</a><br>
<a href="flask.debughelpers.html">debughelpers</a><br>
<a href="flask.globals.html">globals</a><br>
<a href="flask.helpers.html">helpers</a><br>
</td><td width="25%" valign=top><a href="flask.json.html"><strong>json</strong>&nbsp;(package)</a><br>
<a href="flask.logging.html">logging</a><br>
<a href="flask.sessions.html">sessions</a><br>
<a href="flask.signals.html">signals</a><br>
<a href="flask.templating.html">templating</a><br>
</td><td width="25%" valign=top><a href="flask.testing.html">testing</a><br>
<a href="flask.views.html">views</a><br>
<a href="flask.wrappers.html">wrappers</a><br>
</td></tr></table></td></tr></table><p>
<table width="100%" cellspacing=0 cellpadding=2 border=0 summary="section">
<tr bgcolor="#eeaa77">
<td colspan=3 valign=bottom>&nbsp;<br>
<font color="#ffffff" face="helvetica, arial"><big><strong>Functions</strong></big></font></td></tr>
    
<tr><td bgcolor="#eeaa77"><tt>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</tt></td><td>&nbsp;</td>
<td width="100%"><dl><dt><a name="-escape"><strong>escape</strong></a>(...)</dt><dd><tt><a href="#-escape">escape</a>(s)&nbsp;-&gt;&nbsp;markup<br>
&nbsp;<br>
Convert&nbsp;the&nbsp;characters&nbsp;&amp;,&nbsp;&lt;,&nbsp;&gt;,&nbsp;',&nbsp;and&nbsp;"&nbsp;in&nbsp;string&nbsp;s&nbsp;to&nbsp;HTML-safe<br>
sequences.&nbsp;&nbsp;Use&nbsp;this&nbsp;if&nbsp;you&nbsp;need&nbsp;to&nbsp;display&nbsp;text&nbsp;that&nbsp;might&nbsp;contain<br>
such&nbsp;characters&nbsp;in&nbsp;HTML.&nbsp;&nbsp;Marks&nbsp;return&nbsp;value&nbsp;as&nbsp;markup&nbsp;string.</tt></dd></dl>
</td></tr></table><p>
<table width="100%" cellspacing=0 cellpadding=2 border=0 summary="section">
<tr bgcolor="#55aa55">
<td colspan=3 valign=bottom>&nbsp;<br>
<font color="#ffffff" face="helvetica, arial"><big><strong>Data</strong></big></font></td></tr>
    
<tr><td bgcolor="#55aa55"><tt>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</tt></td><td>&nbsp;</td>
<td width="100%"><strong>appcontext_popped</strong> = &lt;flask.signals._FakeSignal object&gt;<br>
<strong>appcontext_pushed</strong> = &lt;flask.signals._FakeSignal object&gt;<br>
<strong>appcontext_tearing_down</strong> = &lt;flask.signals._FakeSignal object&gt;<br>
<strong>before_render_template</strong> = &lt;flask.signals._FakeSignal object&gt;<br>
<strong>current_app</strong> = &lt;LocalProxy unbound&gt;<br>
<strong>g</strong> = &lt;LocalProxy unbound&gt;<br>
<strong>got_request_exception</strong> = &lt;flask.signals._FakeSignal object&gt;<br>
<strong>json_available</strong> = True<br>
<strong>message_flashed</strong> = &lt;flask.signals._FakeSignal object&gt;<br>
<strong>request</strong> = &lt;LocalProxy unbound&gt;<br>
<strong>request_finished</strong> = &lt;flask.signals._FakeSignal object&gt;<br>
<strong>request_started</strong> = &lt;flask.signals._FakeSignal object&gt;<br>
<strong>request_tearing_down</strong> = &lt;flask.signals._FakeSignal object&gt;<br>
<strong>session</strong> = &lt;LocalProxy unbound&gt;<br>
<strong>signals_available</strong> = False<br>
<strong>template_rendered</strong> = &lt;flask.signals._FakeSignal object&gt;</td></tr></table>
</body></html>