<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html><head><title>Python: package pandas</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head><body bgcolor="#f0f0f8">

<table width="100%" cellspacing=0 cellpadding=2 border=0 summary="heading">
<tr bgcolor="#7799ee">
<td valign=bottom>&nbsp;<br>
<font color="#ffffff" face="helvetica, arial">&nbsp;<br><big><big><strong>pandas</strong></big></big> (version 0.23.4)</font></td
><td align=right valign=bottom
><font color="#ffffff" face="helvetica, arial"><a href=".">index</a><br><a href="file:/anaconda3/lib/python3.6/site-packages/pandas/__init__.py">/anaconda3/lib/python3.6/site-packages/pandas/__init__.py</a></font></td></tr></table>
    <p><tt>pandas&nbsp;-&nbsp;a&nbsp;powerful&nbsp;data&nbsp;analysis&nbsp;and&nbsp;manipulation&nbsp;library&nbsp;for&nbsp;Python<br>
=====================================================================<br>
&nbsp;<br>
**pandas**&nbsp;is&nbsp;a&nbsp;Python&nbsp;package&nbsp;providing&nbsp;fast,&nbsp;flexible,&nbsp;and&nbsp;expressive&nbsp;data<br>
structures&nbsp;designed&nbsp;to&nbsp;make&nbsp;working&nbsp;with&nbsp;"relational"&nbsp;or&nbsp;"labeled"&nbsp;data&nbsp;both<br>
easy&nbsp;and&nbsp;intuitive.&nbsp;It&nbsp;aims&nbsp;to&nbsp;be&nbsp;the&nbsp;fundamental&nbsp;high-level&nbsp;building&nbsp;block&nbsp;for<br>
doing&nbsp;practical,&nbsp;**real&nbsp;world**&nbsp;data&nbsp;analysis&nbsp;in&nbsp;Python.&nbsp;Additionally,&nbsp;it&nbsp;has<br>
the&nbsp;broader&nbsp;goal&nbsp;of&nbsp;becoming&nbsp;**the&nbsp;most&nbsp;powerful&nbsp;and&nbsp;flexible&nbsp;open&nbsp;source&nbsp;data<br>
analysis&nbsp;/&nbsp;manipulation&nbsp;tool&nbsp;available&nbsp;in&nbsp;any&nbsp;language**.&nbsp;It&nbsp;is&nbsp;already&nbsp;well&nbsp;on<br>
its&nbsp;way&nbsp;toward&nbsp;this&nbsp;goal.<br>
&nbsp;<br>
Main&nbsp;Features<br>
-------------<br>
Here&nbsp;are&nbsp;just&nbsp;a&nbsp;few&nbsp;of&nbsp;the&nbsp;things&nbsp;that&nbsp;pandas&nbsp;does&nbsp;well:<br>
&nbsp;<br>
&nbsp;&nbsp;-&nbsp;Easy&nbsp;handling&nbsp;of&nbsp;missing&nbsp;data&nbsp;in&nbsp;floating&nbsp;point&nbsp;as&nbsp;well&nbsp;as&nbsp;non-floating<br>
&nbsp;&nbsp;&nbsp;&nbsp;point&nbsp;data.<br>
&nbsp;&nbsp;-&nbsp;Size&nbsp;mutability:&nbsp;columns&nbsp;can&nbsp;be&nbsp;inserted&nbsp;and&nbsp;deleted&nbsp;from&nbsp;DataFrame&nbsp;and<br>
&nbsp;&nbsp;&nbsp;&nbsp;higher&nbsp;dimensional&nbsp;objects<br>
&nbsp;&nbsp;-&nbsp;Automatic&nbsp;and&nbsp;explicit&nbsp;data&nbsp;alignment:&nbsp;objects&nbsp;can&nbsp;be&nbsp;explicitly&nbsp;aligned<br>
&nbsp;&nbsp;&nbsp;&nbsp;to&nbsp;a&nbsp;set&nbsp;of&nbsp;labels,&nbsp;or&nbsp;the&nbsp;user&nbsp;can&nbsp;simply&nbsp;ignore&nbsp;the&nbsp;labels&nbsp;and&nbsp;let<br>
&nbsp;&nbsp;&nbsp;&nbsp;`Series`,&nbsp;`DataFrame`,&nbsp;etc.&nbsp;automatically&nbsp;align&nbsp;the&nbsp;data&nbsp;for&nbsp;you&nbsp;in<br>
&nbsp;&nbsp;&nbsp;&nbsp;computations.<br>
&nbsp;&nbsp;-&nbsp;Powerful,&nbsp;flexible&nbsp;group&nbsp;by&nbsp;functionality&nbsp;to&nbsp;perform&nbsp;split-apply-combine<br>
&nbsp;&nbsp;&nbsp;&nbsp;operations&nbsp;on&nbsp;data&nbsp;sets,&nbsp;for&nbsp;both&nbsp;aggregating&nbsp;and&nbsp;transforming&nbsp;data.<br>
&nbsp;&nbsp;-&nbsp;Make&nbsp;it&nbsp;easy&nbsp;to&nbsp;convert&nbsp;ragged,&nbsp;differently-indexed&nbsp;data&nbsp;in&nbsp;other&nbsp;Python<br>
&nbsp;&nbsp;&nbsp;&nbsp;and&nbsp;NumPy&nbsp;data&nbsp;structures&nbsp;into&nbsp;DataFrame&nbsp;objects.<br>
&nbsp;&nbsp;-&nbsp;Intelligent&nbsp;label-based&nbsp;slicing,&nbsp;fancy&nbsp;indexing,&nbsp;and&nbsp;subsetting&nbsp;of&nbsp;large<br>
&nbsp;&nbsp;&nbsp;&nbsp;data&nbsp;sets.<br>
&nbsp;&nbsp;-&nbsp;Intuitive&nbsp;merging&nbsp;and&nbsp;joining&nbsp;data&nbsp;sets.<br>
&nbsp;&nbsp;-&nbsp;Flexible&nbsp;reshaping&nbsp;and&nbsp;pivoting&nbsp;of&nbsp;data&nbsp;sets.<br>
&nbsp;&nbsp;-&nbsp;Hierarchical&nbsp;labeling&nbsp;of&nbsp;axes&nbsp;(possible&nbsp;to&nbsp;have&nbsp;multiple&nbsp;labels&nbsp;per&nbsp;tick).<br>
&nbsp;&nbsp;-&nbsp;Robust&nbsp;IO&nbsp;tools&nbsp;for&nbsp;loading&nbsp;data&nbsp;from&nbsp;flat&nbsp;files&nbsp;(CSV&nbsp;and&nbsp;delimited),<br>
&nbsp;&nbsp;&nbsp;&nbsp;Excel&nbsp;files,&nbsp;databases,&nbsp;and&nbsp;saving/loading&nbsp;data&nbsp;from&nbsp;the&nbsp;ultrafast&nbsp;HDF5<br>
&nbsp;&nbsp;&nbsp;&nbsp;format.<br>
&nbsp;&nbsp;-&nbsp;Time&nbsp;series-specific&nbsp;functionality:&nbsp;date&nbsp;range&nbsp;generation&nbsp;and&nbsp;frequency<br>
&nbsp;&nbsp;&nbsp;&nbsp;conversion,&nbsp;moving&nbsp;window&nbsp;statistics,&nbsp;moving&nbsp;window&nbsp;linear&nbsp;regressions,<br>
&nbsp;&nbsp;&nbsp;&nbsp;date&nbsp;shifting&nbsp;and&nbsp;lagging,&nbsp;etc.</tt></p>
<p>
<table width="100%" cellspacing=0 cellpadding=2 border=0 summary="section">
<tr bgcolor="#aa55cc">
<td colspan=3 valign=bottom>&nbsp;<br>
<font color="#ffffff" face="helvetica, arial"><big><strong>Package Contents</strong></big></font></td></tr>
    
<tr><td bgcolor="#aa55cc"><tt>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</tt></td><td>&nbsp;</td>
<td width="100%"><table width="100%" summary="list"><tr><td width="25%" valign=top><a href="pandas._libs.html"><strong>_libs</strong>&nbsp;(package)</a><br>
<a href="pandas._version.html">_version</a><br>
<a href="pandas.api.html"><strong>api</strong>&nbsp;(package)</a><br>
<a href="pandas.compat.html"><strong>compat</strong>&nbsp;(package)</a><br>
<a href="pandas.computation.html"><strong>computation</strong>&nbsp;(package)</a><br>
<a href="pandas.conftest.html">conftest</a><br>
</td><td width="25%" valign=top><a href="pandas.core.html"><strong>core</strong>&nbsp;(package)</a><br>
<a href="pandas.errors.html"><strong>errors</strong>&nbsp;(package)</a><br>
<a href="pandas.formats.html"><strong>formats</strong>&nbsp;(package)</a><br>
<a href="pandas.io.html"><strong>io</strong>&nbsp;(package)</a><br>
<a href="pandas.json.html">json</a><br>
<a href="pandas.lib.html">lib</a><br>
</td><td width="25%" valign=top><a href="pandas.parser.html">parser</a><br>
<a href="pandas.plotting.html"><strong>plotting</strong>&nbsp;(package)</a><br>
<a href="pandas.testing.html">testing</a><br>
<a href="pandas.tests.html"><strong>tests</strong>&nbsp;(package)</a><br>
<a href="pandas.tools.html"><strong>tools</strong>&nbsp;(package)</a><br>
<a href="pandas.tseries.html"><strong>tseries</strong>&nbsp;(package)</a><br>
</td><td width="25%" valign=top><a href="pandas.tslib.html">tslib</a><br>
<a href="pandas.types.html"><strong>types</strong>&nbsp;(package)</a><br>
<a href="pandas.util.html"><strong>util</strong>&nbsp;(package)</a><br>
</td></tr></table></td></tr></table><p>
<table width="100%" cellspacing=0 cellpadding=2 border=0 summary="section">
<tr bgcolor="#55aa55">
<td colspan=3 valign=bottom>&nbsp;<br>
<font color="#ffffff" face="helvetica, arial"><big><strong>Data</strong></big></font></td></tr>
    
<tr><td bgcolor="#55aa55"><tt>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</tt></td><td>&nbsp;</td>
<td width="100%"><strong>IndexSlice</strong> = &lt;pandas.core.indexing._IndexSlice object&gt;<br>
<strong>NaT</strong> = NaT<br>
<strong>__docformat__</strong> = 'restructuredtext'<br>
<strong>datetools</strong> = &lt;module 'pandas.core.datetools' from '/anaconda3...ython3.6/site-packages/pandas/core/datetools.py'&gt;<br>
<strong>describe_option</strong> = &lt;pandas.core.config.CallableDynamicDoc object&gt;<br>
<strong>get_option</strong> = &lt;pandas.core.config.CallableDynamicDoc object&gt;<br>
<strong>json</strong> = &lt;module 'pandas.json' from '/anaconda3/lib/python3.6/site-packages/pandas/json.py'&gt;<br>
<strong>lib</strong> = &lt;module 'pandas.lib' from '/anaconda3/lib/python3.6/site-packages/pandas/lib.py'&gt;<br>
<strong>options</strong> = &lt;pandas.core.config.DictWrapper object&gt;<br>
<strong>parser</strong> = &lt;module 'pandas.parser' from '/anaconda3/lib/python3.6/site-packages/pandas/parser.py'&gt;<br>
<strong>plot_params</strong> = {'xaxis.compat': False}<br>
<strong>reset_option</strong> = &lt;pandas.core.config.CallableDynamicDoc object&gt;<br>
<strong>set_option</strong> = &lt;pandas.core.config.CallableDynamicDoc object&gt;<br>
<strong>tslib</strong> = &lt;module 'pandas.tslib' from '/anaconda3/lib/python3.6/site-packages/pandas/tslib.py'&gt;</td></tr></table>
</body></html>